<section class="user-section">
  <h2><%= "Name: #{@user.name}" %>
    <% if current_user.id != @user.id %>
      <span class="friend_button">
        <%= send_friend_request(@user.id) %>

      </span>
    <% end %>
  </h2>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  <h2>Frinds List</h2>
  <%= @friends %>
</section>
