<div class="show_grid">
  <section class="mutual-section">
    <h2 class="friends_List">Mutual Friends</h2>
    <%= render 'mutual_friends' %>

  </section>
  <section class="user-section show-section">
  <h2><%= "Name: #{@user.name}" %>
  <%= friendship_status_check(@user.id) %>
  </h2>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
</div>
